* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.nrk-header {
  background-color: #0a2343;
  color: white;
  padding: 17px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.nrk-logo {
  height: 28px;
  margin-right: 25px;
  cursor: pointer;
}

.header-left {
  display: flex;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-right: 28px;
  transition: opacity 0.2s;
}

.menu a:hover {
  opacity: 0.7;
}

/* LOGIN AREA */
.header-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.login-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.login-link:hover {
  text-decoration: underline;
}

/* NYHETSGRID */
.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 30px;
  margin-top: 2rem;
}

.news-card {
  display: block;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  transition: 0.2s ease;
}

.news-card:hover {
  transform: scale(1.02);
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-card h3 {
  padding: 12px;
  font-size: 18px;
}

/* Responsiv design */
@media (max-width: 1100px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}
